# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/

# Flask uploads and output files
backend/uploads/
backend/outputs/

# IDE and OS files
.vscode/
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
